<<<<<<< HEAD
/***************************************************
This is the CSS styling for the Lai components
***************************************************/

/* Styles for the Chart backgrounds */
.Chart-background {
    background-color: white;
    border: 3px solid rgb(90, 90, 90);
    padding: 8px;
    margin: 0px;
    height: 65vh;
}

/* Custom styles for the React-Dropdown components */
.Dropdown-menu {
    max-height: 300px;
}
.Dropdown-banner {
    width: 220px;
    margin: 5px;
}

/* Styles for the Dashboard flexbox container */
.Dashboard-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* align-items: stretch; */
    height: 100vh;
    background-image: linear-gradient(to bottom right, white, rgb(196, 180, 255));
}
.Dashboard-flexbox > div {
    box-sizing: border-box;
    width: 47vw;
    margin: 9px;
    text-align: center;
    font-size: 17px;
    background-image: linear-gradient(to right,rgb(109, 109, 109),rgb(151, 102, 151));
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Styles for the Lab Report Viewer flexbox container */
.ReportViewer-flexbox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, white, rgb(196, 180, 255));
}
.ReportViewer-flexbox > div {
    background-color: white;
    padding: 0px 20px 30px;
    border: 1px solid #b48686;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.ReportViewer-flexbox > div > h2 {
    text-align: center;
    /* font-style: italic; */
    font-family: 'Courier New', Courier, monospace;
}

/* Styles for the table of Lab Orders */
.LabOrders-header > th:first-child {
    width: 140px;
}
.LabOrders-header > th {
    padding: 5px 20px;
    border-bottom: 5px solid palevioletred;
}
.LabOrders-row > td {
    text-align: center;
}
.OrderDate-button {
    /* color: rgb(37, 37, 37); */
    font-size: 14px;
    /* font-weight: bold; */
    display: block;
    margin: auto;
    width: 120px;
}

/* Styles for the Lab Report table */
.LabReport-header > th:first-child {
    width: 100px;
}
.LabReport-header > th {
    padding: 5px 20px;
    border-bottom: 5px solid palevioletred;
}
.LabReport-row > td {
    text-align: center;
}

/******************************************************/
/* Styles for the Lab Report modal */
/*    The Modal background */
.LabReport-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/*    The Modal content */
.LabReport-modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    max-width: 750px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s
}
.LabReport-modal-header {
    padding: 5px 16px;
    background-color: #b48686;
}
.LabReport-modal-header > pre {
    color: white;
    font-size: 13pt;
    font-family: 'Courier New', Courier, monospace;
}
.LabReport-modal-body {
    padding: 20px 16px;
}
.LabReport-modal-footer {
    padding: 20px;
    background-color: #b48686;
}
/*    Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0.9} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0.9}
    to {top:0; opacity:1}
}
/*    The Lab Report's Close Button */
.Close-button {
    color: rgb(37, 37, 37);
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin: auto;
}
.Close-button:hover,
.Close-button:focus {
    color: purple;
    text-decoration: none;
    cursor: pointer;
}
=======
/**********************************************************
This is the CSS styling for the Lab Results components
**********************************************************/

/* Styles for the Chart backgrounds */
.Chart-background {
    background-color: white;
    border: 3px solid rgb(90, 90, 90);
    padding: 8px;
    margin: 0px;
    height: 65vh;
}

/* Styles for the Lab Report Viewer & Dashboard backgrounds */
.background {
    min-height: 86vh;
    background-image: linear-gradient(to bottom right, rgb(238, 233, 255), rgb(196, 180, 255));
    /* background-image: linear-gradient(to bottom right, white, rgb(196, 180, 255)); */
}

/* Custom styles for the React-Dropdown components */
.Dropdown-menu {
    max-height: 300px;
}
.Dropdown-banner {
    width: 220px;
    margin: 5px;
}

/* Styles for the Dashboard flexbox container */
.Dashboard-flexbox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.Dashboard-flexbox > div {
    box-sizing: border-box;
    width: 47vw;
    margin: 9px;
    text-align: center;
    font-size: 17px;
    background-image: linear-gradient(to right,rgb(109, 109, 109),rgb(151, 102, 151));
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Styles for the Lab Report Viewer flexbox container */
.ReportViewer-flexbox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ReportViewer-flexbox > div {
    background-color: white;
    padding: 0px 20px 30px;
    border: 1px solid #b48686;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.ReportViewer-flexbox > div > h2 {
    text-align: center;
    /* font-style: italic; */
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 7px;
}

/* Styles for the table of Lab Orders */
.LabOrders-header > th:first-child {
    width: 140px;
}
.LabOrders-header > th {
    padding: 5px 20px;
    border-bottom: 5px solid palevioletred;
}
.LabOrders-row > td {
    text-align: center;
    padding: 4px;
}
.OrderDate-button {
    /* color: rgb(37, 37, 37); */
    font-size: 14px;
    display: block;
    margin: auto;
    width: 120px;
    padding: 4px;
}


/******************************************************/
/* Styles for the pop-up Lab Report modal */
/*    The overall Lab Report table */
.LabReport-header > th:first-child {
    width: 100px;
}
.LabReport-header > th {
    padding: 5px 20px;
    border-bottom: 5px solid palevioletred;
}
.LabReport-row > td {
    text-align: center;
}
/*    The Modal background */
.LabReport-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/*    The Modal content */
.LabReport-modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    max-width: 750px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s
}
.LabReport-modal-header {
    padding: 5px 16px;
    background-color: #b48686;
}
.LabReport-modal-header > pre {
    color: white;
    font-size: 14pt;
    font-family: 'Courier New', Courier, monospace;
}
.LabReport-modal-body {
    padding: 20px 16px;
}
.LabReport-modal-footer {
    padding: 20px;
    background-color: #b48686;
}
/*    Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0.9} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0.9}
    to {top:0; opacity:1}
}
/*    The Lab Report's Close Button */
.Close-button {
    color: rgb(37, 37, 37);
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin: auto;
}
.Close-button:hover,
.Close-button:focus {
    color: purple;
    text-decoration: none;
    cursor: pointer;
}
>>>>>>> 9a6ac23d4175d7d305480453f7ee9df0ca1e37c5
